@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
    padding-top: 60px;
    background-color: #d9d9d9;
    font-family: 'Roboto Slab', serif;
}

.copyright {
    padding-top: 5px;
    text-align: center;
    color: #d9d9d9;
    font-size: 10px;
}

.footer a {
    color: #d9d9d9;
    font-size: 10px;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.author {
    color: SlateGray;
    font.size: 10px;

}

.author a {
    color: SlateGray;
    font.size: 10px;

}


.navbar-fixed-bottom {
    padding-bottom: 0px;
    padding-top: 0px;
    height: 20px
}

/*.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}*/


.carousel-inner > .item > img, .carousel-inner > .item > a > img, .carousel-inner > .item > h3 {
      width: 100%;
      /*height: 95%;*/
      margin: auto;
      padding-top: 10px;
  }

/*.carousel-inner > .item{
    background: #9ba59d;
}*/

.carousel-inner > .item > p {
  /*width: 70%;*/
  margin: auto;
  float: right;
  margin-right: 0%;
  padding-top: 5px;
  margin-bottom: 15px;
}

.glyphicon{
    color: grey;
} 

.readTime {
    text-align: right;
    font-size: 0.9em;
    color: grey;
} 
.readMore  {
    text-align: right;
    color: SlateGray;
}
.readMore a {
    text-align: left;
    color: SlateGray;
}

.shareMore  {
    text-align: right;
    color: SlateGray;
}
.shareMore a {
    text-align: right;
    color: SlateGray;
}
.connectWith {
    text-align: center;
    color: SlateGray;
    font-size: 2
}
/* share icons */
.facebook {
    background-color: ;
    color: grey;
    font-size: 1em;
}

.twitter {
    background-color: ;
    color: grey;
    font-size: 1em;
}


.linkedin {
    background-color: ;
    color: grey;
    font-size: 1em;
}

.socialfloat {
    display: block;
    position: absolute;
    left: 0;
    top: 200px;
    z-index: 9999;
}
.socialfloat .fbtn {
    width: 50px;
    height: 50px;
    display: block;
    color: #fff;
    text-align: center;
}
.socialfloat .fbtn i {
    font-size: 30px;
    line-height: 50px;
}

a.fa-sidebar {
    padding-left: 5px;
    font-family: 'Roboto Slab', serif;
    font-size: 0.9em;
}
.fa {
    color: gray;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px !important;
    color: white;
}