

{% assign page_type=page.page_type %}


{% assign local_collection=site.[page_type] %}

{% for cols in site.data.navigate %}
  {%if cols.page_type == page_type %}
    {% assign local_index=forloop.index0 %}
  {% endif %}
{% endfor %}
{% assign local_title=site.data.navigate[local_index].title %}
{% assign local_url=site.data.navigate[local_index].url %}

{% include header.html %}



<div class="container">
    <div class="row-fluid">
    <div class="col-md-3">
            {% include collection-sidebar.html page_type=page_type local_url=local_url local_title=local_title %}
        </div>
        <div class="col-md-9">
            
			<div class="panel panel-default">
  			<div class="panel-heading"> 
  			<a href= "{{page.url}}"> {{ page.title }} </a>
  			</div>
  			<div class="panel-body">
  			<p>{{ page.content }} </p>
  			</div>
			</div>
		
    </div>
        
        
    </div>
</div>

{% include footer.html %}