{% include header.html %}


{% assign wordCount = page.content | number_of_words %}
{% assign readTime = wordCount | divided_by: 180 | plus: 1 %}

{% assign pageURL = site.baseurl | append: page.url  %} 
{% assign pageTitle = page.title  %}
{% assign pageExcerpt = page.content | strip_html | truncatewords: 50  %}


<div class="container">
    <div class="row">
        
        <div class="col-md-9">
          <div class="article">
            <div class="well">
                <h1><a href="{{ site.baseurl}}{{ page.url }}"> {{ page.title }}</a></h1>
            {% if site.comments and page.comments %}
                {% if site.disqus != '' %}
                <p class="author"> {{ page.date | date: "%b %-d, %Y" }}  | <a href="{{ site.baseurl }}{{ page.url }}/#disqus_thread" data-disqus-identifier="{{ page.url | slugify }}">Comments</a> | {{readTime}} min. read  </p>
                {% elsif site.isso != '' %}
                <p class="author"><a href="{{ site.baseurl }}{{ page.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p>
                {% endif %}
            {% endif %}
          
            <div class="post-content">
          
            {{ page.content }}
            <div class="readMore"> {% include share.html %} <br> </div>

            </div>
            {% if page.comments %}
                {% if site.disqus != '' %}
            <div id="disqus_thread">
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </div>
                {% elsif site.isso != '' %}
                <section id="isso-thread"></section>
                {% endif %}
            {% endif %}
            </div>
          </div>


          <div class="pagination">
              {% if page.next %}
                <a class="btn btn-default" href="{{ site.baseurl}}{{ page.next.url }}" class="next">Newer Post</a>
              {% endif %}
              {% if page.previous %}
                <a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">Older Post</a>
              {% endif %}
          </div>
        </div>

        <div class="col-md-3 hidden-xs">
            {% include sidebar.html %}
        </div>

    </div>
</div>

{% include disqus-comments.html %}
{% include disqus-counts.html %}
{% include footer.html %}
