div#header {
        width: 750px;
	border: 0px inset #888;
	height: 150px;
	clear: both;
	background: url('../images/rocksbw.jpg') no-repeat;
        padding: 0px;
        background-color: #777;
}